@media screen and (min-width: 0) {


	.music-detail-main {

		/* - layout - */

			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-top: 20px;
			margin-bottom: 25px;


		/* effect transitions smoothing */

            transition: all 500ms;

		/* stagger animation */

            animation: elementEntrance 700ms ease-out;
            animation-fill-mode: backwards;

	}


	.music-detail-main-left {

		/* - layout - */

			margin-bottom: 50px;

	}


	.music-detail-main-left-cover img {

		/* - layout - */

			width: 100%;

		/* - aesthetic - */
		
			border-radius: 4px;

	}


	.music-detail-main-left-cover {

		/* - layout - */
			
			margin-bottom: 20px;

	}


	.music-detail-main-left-links {

		/* - layout - */

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

	}

	.music-detail-main-left-link {

		/* - layout - */

			margin-bottom: 5px;

		/* - aesthetic - */

			font-size: small;

	}

	.music-detail-main-left-link-separator {

		display: inline;
		
	}

	.music-detail-main-right-title {

		/* - layout - */

			padding: 15px 0;

		/* - aesthetic - */

			text-transform: uppercase;
			font-size: x-large;
			color: #8C9EA8;

	}


	.music-detail-footer {

		/* - layout - */

			margin-bottom: 50px;

	}


	.music-detail-footer-embed {

		/* - layout - */

			margin-bottom: 100px;

	}


	.music-detail-footer-embed-ep {

		width: 100%;
		height: 400px;

		scrolling: no;
		frameborder:  no;
		allow: autoplay;

	}


	.music-detail-footer-embed-single {

		width: 100%;

		scrolling: no;
		frameborder:  no;
		allow: autoplay;

	}


	.music-detail-footer-embed-bottom {

		line-break: anywhere;
		word-break: normal;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		font-size: 10px;
		color: #cccccc;
		font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
		font-weight: 100;

	}


	.music-detail-footer-embed-bottom a {

		color: #cccccc;
		text-decoration: none;

	}


	.music-detail-footer-nav {

		/* - layout - */

			display: flex;
			flex-direction: row;
			justify-content: space-between;

	}


	.music-detail-footer-nav-prevnext-separator {

		display: inline;
		
	}


}




@media screen and (min-width: 750px){


	.music-detail-main {

		/* - layout - */

			display: flex;
			flex-direction: row;
			justify-content: space-between;

	}


	.music-detail-main-left {

		/* - layout - */

			width: 48%;

	}


	.music-detail-main-left-links a:hover {

		filter: brightness(1.3);

	}


	.music-detail-main-right {

		/* - layout - */

			width: 48%;

	}


	.music-detail-footer a:hover {

		filter: brightness(1.3);

	}


}